name: '@hectorjs/stub-backend'

on:
  push:
    branches:
      - master
      - development
  schedule:
    - cron:  '0 8 * * *'

jobs:
  build:
    name: Stub-backend

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 8.x , 10.x , 12.x ]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Unit test
      run: |
        npm i
        npm run test
      env:
        CI: true
    - name: Coverage
      run: |
        npm i
        npm run coverage
      env:
        CI: true
    - name: Audit
      run: |
        npm i
        npm audit
      env:
        CI: true
    - name: Code quality
      run: |
        npm run eslint
      env:
        CI: true
    - name: Publish resport coverage
      run: |
        npm -g i codecov@3.6.1
        npm run report-coverage -- -t ${{ secrets.CODECOV_TOKEN }}
      env:
        CI: true
        
