name: 'Unit tests'

on:
  push:
    branches:
      - master
      - development
    schedule:
    - cron:  '0 8 * * *'
    
jobs:
  build:
    name: Stub-backend

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 8.x , 10.x , 12.x ]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Unit test
      run: |
        npm ci
        npm test
      env:
        CI: true
        
